$drawer-width: 300px;


.drawer {
  z-index: 999;
  width: $drawer-width;
  flex-shrink: 0;
  white-space: nowrap;
}

.open {
  width: $drawer-width;
  transition: width ease 1s;
  -webkit-transition: width ease 1s;
}

.closed {
  transition: width ease 1s;
  -webkit-transition: width ease 1s;
  overflow-x: hidden;
  width: 4em;


  @include breakpoint('md') {
    width: $drawer-width;
  }

  @include breakpoint('xs', max) {
    display: none;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.drawer-toggle {
  @include setColor(color, 'text-sec');
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

.drawer-item {
  @include setColor(background, 'paper-background');

  transition: filter 0.5s cubic-bezier(0.25, 0.45, 0.25, 0.25), opacity 0.5s cubic-bezier(0.25, 0.45, 0.25, 0.25);

  &:hover {
    cursor: pointer;

    @include hoverEffect();
  }
}

.drawer-content {
  @include setColor(color, 'text-sec');
}
