version: '3'
services:
  database:
    image: 'postgres'
    restart: always
    ports:
    - 5432:5432
    container_name: 'meeting-plan-db'
    hostname: 'meeting-plan-db'
    volumes:
      - ./postgres-volume:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d/
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    networks:
      - database-net
      - default

networks:
  database-net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
