@import "../../styles";

.root {
  height: 100vh;
  width: 100vw;
}

.background {
  background-image: url("bg.png");
  background-size: cover;
}

.panel {
  display: flex;
  align-items: center;
  @include setColor(background, 'background', !important);
}
