@import "../../styles";


.component-root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-card {
  width: 100%;
  padding: 1em;
}


.component-login-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;

  & > * {
    margin-top: 1em;
  }
}

.component-error {
  @include setColor(color, 'error');
}

.component-login-hide {
  display: none;
}

.back-button-group {
  margin-top: 20px;
  float: right;
  width: 25%;
}

.back-button {
  margin-top: 2em;
  align-self: end;
}

.submit-button-group {
  width: calc(100% - 2em);
  margin: 1em;
}

.submit-button {
  align-self: center;
  width: 100%;
}

.heading {
  text-align: left;
}

.google-button {
  width: calc(100% - 2em);
  margin: 0 1em 1em 1em;
}
