@import "../../styles";


.component-root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-card {
  width: 100%;
  padding: 1em;
}


.component-login-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;

  & > * {
    margin-top: 1em;
  }
}

.component-error {
  @include setColor(color, 'error');
}

.component-login-hide {
  display: none;
}

.submit-button-group {
  margin-top: 20px;
  display: flex;
  align-items: end;
}

.submit-button {
  flex-direction: row;
  width: 50% !important;
}

.heading {

}
