@import "../colors";

.MuiAppBar-colorPrimary {
  @include setColor(background-color, 'primary', !important);
}

.MuiInput-underline:after {
  @include setColor(border-bottom-color, 'primary', !important);
}

.MuiFormLabel-root.Mui-focused {
  @include setColor(color, 'primary', !important);
}

.MuiButton-containedPrimary {
  @include setColor(background, 'primary', !important);
}

.MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
  @include setColor(border-right-color, 'primary', !important);
}
