@import "../../styles";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.root {
  display: flex;
  font-family: Roboto, serif;
}

.content {
  flex-grow: 1;
  padding: 5em 1em 5em 1em !important;

  @include breakpoint('xs') {
    padding-left: 0;
    padding-right: 0;
  }
}
